@media (max-width: 1700px) 
{
    .ads {display: none;}
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 16px;
    margin: 0;
    color: white;
    background-color: #e8ebf0;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
h2, h4 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #2e5473;
}
*{
    box-sizing: border-box;
}
div#headerrr {
    top:0;
    z-index:1000;
    width:100%;
    position: fixed;
    padding: 7px 15%;
    background-color: #507299;
    
}
.container {
    position: relative;
    top:34px;
    
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    
    max-width:1600px;
    min-height: 90%;
    justify-content: center;
}

.item
{
    border-bottom: 2px solid #d0d0d0;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: justify;
    padding: 5px 10px;

}
.content {
    position: relative;
    max-width: 460px;
    padding: 10px 12px;
    color: black;
    text-align: left;
    background-color: white;

    border: 1px solid #d0d0d0;    
    border-radius: 10px;
    
    margin: 20px;
}
.ads
{
    position: fixed;
    width: 200px;
    right: 380px;
}
.left
{
    text-align: left;
}
.include
{
    width:100%;
    object-fit:scale-down;
}
.lkcm
{
    margin: 0 0 10px 0;
    padding:5px;
}
.like
{
    float: left;
}
.comment
{
    float: right;
}
.nav {
    float:left;
    position: relative;
    width: 180px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
p
{
    background-color: #e7e7e7;
}
.nav__link {
    padding: 0px 0px 25px 0px;
    display: block;
}
.nav__link:first-child {
    margin-top: 25px;
}
.nav__link:hover {
    background-color: #ccd6e6;
}
.item::selection {
    color: rgb(97, 158, 97);
    background: rgb(201, 224, 201);
}
#footer {
    width: 100%;
    font-size: 12px;
    padding: 7px 0;
    margin: 40px 0 0 0;
    text-align: center;
    color:#8f8f8f;
    background-color: rgb(255, 255, 255);    
}